<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStringLocalHost"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost; Database=Academia;  Integrated Security=SSPI;"/>
		<add name="ConnStringLocal"
		providerName="System.Data.SqlClient"
		connectionString="Data Source=DESKTOP-SK8Q5OU;Initial Catalog=Academia;Integrated Security=True"/>
		<add name="ConnStringExpress"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost\SQLEXPRESS;Database=Academia;Integrated Security=false;"/>
		<add name="ConnStringServerISI"
		providerName="System.Data.SqlClient"
		connectionString="Server=serverisi; Database=Academia; IntegratedSecurity=false;"/>
	</connectionStrings>
</configuration>
